body{
  background-image: url("../images/img1.jpg");
  background-size: cover;
}
.name{
  float: left;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #05FCCB;
  width: 100%
}
li a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #05EC64;
}
